* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #ffe2b3;
}

div {
	display: flex;
	flex-direction: column;

}

span {
	font-size: 20px;
	font-family: sans-serif;
	margin-bottom: 12px;
	color: rgba(0,0,0,.8);
	letter-spacing: 1px;
	text-align: center;

}

canvas {
	background: #030318;
}